*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 16px 32px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.navbar-brand {
    font-size: 1.5rem;
    fot-weight: bold;
    text-decoration: none;
    color: #222;
    margin-right: 32px;
}